<div class="bg-light text-center">
  <nav class="navbar navbar-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1 fw-bold">NgxNotifications</span>
    </div>
  </nav>
  <div class="container section">
    <h1 class="display-1 fw-bold header">
      Notifications for your<br>
      Angular App
    </h1>
    <p class="lead mt-5 small-width">
      Display four different types of notifications in your Angular App.
      Set the colors to match your theme and choose between three different animations.
    </p>
    <div class="mt-5">
      <button class="btn btn-primary me-2" (click)="showInfo()">Show Info</button>
      <button class="btn btn-success me-2" (click)="showSuccess()">Show Success</button>
      <button class="btn btn-warning me-2" (click)="showWarning()">Show Warning</button>
      <button class="btn btn-danger" (click)="showError()">Show Error</button>
    </div>
  </div>
</div>
<div class="container section text-center">
  <h2>Animations</h2>
  <p class="mt-4 lead small-width">Choose between three different animations: <code>bounce</code>, <code>fade</code>, and <code>slide</code>.</p>
  <div class="mt-5">
    <button class="btn btn-secondary me-2" (click)="bounce()">Bounce</button>
    <button class="btn btn-secondary me-2" (click)="fade()">Fade</button>
    <button class="btn btn-secondary me-2" (click)="slide()">Slide</button>
  </div>
</div>
<div class="bg-light">
  <div class="container section text-center">
    <h2>Position</h2>
    <p class="mt-4 lead small-width">Choose a position for your notifications.</p>
    <div class="small-width mt-5">
      <div class="input-group">
        <select class="form-select" aria-label="position selection" [(ngModel)]="position">
          <option value="top-left">top-left</option>
          <option value="top-center">top-center</option>
          <option value="top-right">top-right</option>
          <option value="bottom-left">bottom-left</option>
          <option value="bottom-center">bottom-center</option>
          <option value="bottom-right">bottom-right</option>
        </select>
        <button class="btn btn-secondary" (click)="updatePosition()">Update</button>
      </div>
    </div>
    
  </div>
</div>
<div class="container section text-center">
  <h2>Time Displayed</h2>
  <p class="mt-4 lead small-width">
    Choose how long notifications should be displayed.
    Notifications are displayed for <code>6000ms</code> by default.
  </p>
  <div class="small-width mt-5 mb-3">
    <div class="input-group">
      <input class="form-control" type="number" placeholder="6000" [(ngModel)]="timeDisplayed">
      <span class="input-group-text">ms</span>
    </div>
  </div>
  <button class="btn btn-secondary" (click)="showNoticiation()">Show Notification</button>
</div>
<div class="bg-light py-3 text-center">
  <span class="text-muted">Thanks for using NgxNoticiations</span>
</div>